<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Pramanika</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#how-it-works">How it works?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Pramanika</h1>
                <hr>
                <h2>A Blockchain based News Platform for the Future.</h2>
                <p>.</p>
                <p>.</p>

            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h1>About</h1>
                  <hr class="light">
                  <h3 class="section-heading">
                    Digital media is a very potent tool to influence people's opinion. The mainstream digital giants tailor the news
                    to match individual orientations.
                  </h3>
                  <h3 class="section-heading">
                    It is very difficult for us to get out of this bubble and explore different
                    views in the world. We often end up opinionated without seeing the big picture.
                    Pramanika operates in this space to filter out fake news and gives objective perspectives along with the news.
                  </h3>
                  <h2 class="section-heading">
                    Pramanika is a decentralized publication of collectively validated news and articles
                  </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-secondary" id="how-it-works">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h3 class="section-heading">
                    Pramanika is a consortium network of different heterogeneous news institutions.An article submitted by a news institution will
                    be masked of its source and put for validation in the consortium. While validating a news article, the peer in the consortium
                    can express the extent to which they agree or disagree with the article and provide anonymous comments. These weighted opinions
                    and anonymous comments will be published along with the article.
                  </h3>
                </div>
            </div>
        </div>
    </section>



    <aside class="bg-dark">
        <div class="container">
            <div class="call-to-action">
              <h1 class="text-center">Journey of a News article</h1>
              <hr class="light">
              <h4 class="section-heading">
                * Once the news institution comes up with an article, if they have the sufficient number of tokens, they can spend the tokens to broadcast
                it in the network. At this moment, only the validator nodes can see the article. While broadcasting, the source node can choose to be
                anonymous.
              </h4>
              <h4 class="section-heading">
                * Now the validators will go through article and express their qualified opinion on the article. They can express in a scale of
                authenticity and/or comments.
              </h4>
              <h4 class="section-heading">
                * Once a sufficient number of validator nodes expressed their opinions on the article, the article will get published. This published article
                will contain the original content and the qualified opinions expressed in a scale of authenticity.
              </h4>
              <h4 class="section-heading">
                * The broadcasted article (not published) will have a timeout period. If the broadcasted articles do not get sufficient opinions
                within the timeout period, they will be dropped out of the network.
              </h4>
            </div>
        </div>
    </aside>

    <section>
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
	     #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	      /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
        <form action="//pramanika.us15.list-manage.com/subscribe/post?u=ace3704230bb4188cdb181264&amp;id=64eb1522d8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
	           <label for="mce-EMAIL">Subscribe for latest updates and white paper</label>
	            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ace3704230bb4188cdb181264_64eb1522d8" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
      </div>
<!--End mc_embed_signup-->
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">For further queries</h2>
                    <hr class="primary">
                    <p></p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:shravan@pramanika.org">shravan@pramanika.org</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:jay@pramanika.org">jay@pramanika.org</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98126383-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>

</body>

</html>
